---
import type { ImageMetadata} from 'astro';
import { Image } from 'astro:assets';
import Layout from './Layout.astro';

interface Props {
	title: string;
    images: Array<ImageMetadata>;
}

const { title, images } = Astro.props;
images.sort((image1, image2) => image2.height - image1.height)
---

<Layout title={title}>
    <div class='album'>
		{images.filter((image: ImageMetadata) => image.height > image.width).map((image: ImageMetadata) => <a href={image.src}><Image src={image} alt=""/></a>)}
		{images.filter((image: ImageMetadata) => image.height < image.width).map((image: ImageMetadata) => <a href={image.src}><Image src={image} alt=""/></a>)}
    </div>
</Layout>

<style>
    .album {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        font-size: 12pt;
        line-height: 1.6;

        img {
            padding: 1.5%;
            width: 30%;
            height: fit-content;
        }
    }
</style>