---
import Layout from './Layout.astro';

interface Props {
	title: string;
    images: any;
}

const { title, images } = Astro.props;
images.sort((image1, image2) => image2.default.height - image1.default.height)
---

<Layout title={title}>
    <div class='album'>
		{images.filter((image: any) => image.default.height > image.default.width).map((image: any) => <a href={image.default.src}><img src={image.default.src}/></a>)}
		{images.filter((image: any) => image.default.height < image.default.width).map((image: any) => <a href={image.default.src}><img src={image.default.src}/></a>)}
    </div>
</Layout>

<style>
    .album {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        font-size: 12pt;
        line-height: 1.6;

        img {
            padding: 1.5%;
            width: 30%
        }
    }
</style>